body {
    background: url("background.svg");
    background-size: cover;
}

main {
    font-family: "Press Start 2P", sans-serif;
    margin: 1%;
}

main button {
    margin: 5px;
}

h1 {
    color: #ffffff;
    font-family: "Faster One", sans-serif;
    background: #232323;
    text-align: center;
    padding-block: 1em;
    border-radius: 10px;
}

h2 {
    text-decoration: underline 3px;
    font-size: large;
    margin: 1em;
}

h3,
h4,
h5 {
    font-size: large;
    margin: 1em;
}

.toprow {
    display: grid;
    gap: 1em;
    margin-bottom: 1em;
    color: #ffffff;
    font-size: small;
}

.bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    background-color: #232323;
}

#payLoan {
    visibility: hidden;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    background-color: #232323;
}

.computers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    background-color: #232323;
}

.computers select {
    margin: 1em;
}

#computerInfo {
    word-spacing: 1em;
}

.purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
    background-color: #232323;
    color: #ffffff;
    font-size: small;
}

.purchase img {
    max-width: 80%;
    max-height: auto;
    margin: 1em;
    border: 10px;
    border-style: dashed solid;
    border-color: #198754;
    border-radius: 9.5x;
}

.purchase h2 {
    text-align: center;
}

.buynow {
    display: grid;
}

@media screen and (min-width: 700px) {
    .toprow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .purchase {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
    }

    .purchase img {
        max-width: 30%;
    }

    .purchase h2,
    p {
        text-align: center;
        padding: 5px;
    }
}